html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*  {
    box-sizing: inherit;
}
*:before {
    box-sizing: inherit;
}
*:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 240px 80%;
}
p {
    font-size: 2rem;
    color: #9E9E9E;
}

a {
    text-decoration: none;
}

img {
    max-width: 98%;
}

h1 {
    margin: 0 0 2.5rem 0 ;
    font-weight: 900;
    color: negro;
}
h3 {
    font-weight: 700;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 19px;
text-align: center;
margin-top: 47px;
}
span {
    color: #F7542E;
}
.nav {
    background-color: #FAFBFD;
    min-height: 1000px;
}
.color{
    margin-top: 120px;
}
p {
    margin-left: 56px;
    margin-bottom: 25px;
}